name: Continuous Integration
on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  basic-checks:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - name: Install dependencies
        run: npm ci

      - name: Typescript
        run: npm run check

      # Edit: remove for this assignment (linter checks prettier at error level)
      # - name: Formatting
      #  run: npm run prettier

      # Edit: move tests before lint for this assignment due to lint failures
      - name: Tests
        run: npm run test

      - name: Linting
        run: npm run lint
